@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Roboto.woff2") format("woff2");
  }

  /* Đặt font mới cho toàn bộ body */
  body {
    font-family: "Roboto", sans-serif;
  }
}
=======
>>>>>>> c87f549 (init project)
